body {
    font-family: 'Times New Roman', Times, serif;
}   
table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 60px;
    border: 2px solid black;
}
h1 {
    text-align: center;
    color: #333;
    margin-top: 40px;
    margin-bottom: 40px;
}
th, td {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}
th {
    background-color: rgb(137, 184, 227);
    color: black;
}
#bt {
    padding: 5px 13px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
#bt:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}