body{
    background: url(/Img/george-peabody-bucherei-1629308_1280.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.container{
    width: 50%;
    height: auto;
    background-color: #7f7f7f;
    padding: 20px;
    border: 2px solid rgb(205, 201, 194);
    border-radius: 10px;
    justify-items: center;
    margin: auto;
    margin-top: 80px;
    color: white;
    box-shadow: 0 25px 45px rgba(0,0,0,0.6);
}
form{
    display: flex;
    flex-direction: column;
    justify-self: left;
    
}
form input{
    margin-left: 10px;
    border-radius: 6px;
    padding: 5px;
}
input[id="emailForgot"],
input[id="newPassword"]{
    margin-left: 57px;
}
form label{
    margin-bottom: 5px;
}


.error{
    color: red;
    font-size: 14px;
}

button{
    font-size: 14px;
    border-radius:5px ;
    background-color: #a6a6a6;
    width: 100%;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
button:hover{
    box-shadow:  inset 20px 20px 20px 20px rgb(208, 208, 208);
    transform: scale(1);
}