body {
  margin: 0;
  background-color: #fff;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
.search-layout {
  display: flex;
  gap: 20px;
  padding: 100px 40px 40px;
  margin-top: -30px;
}
.filter-panel {
  margin-top: 40px;
  width: 250px;
  background:rgb(131, 62, 127);
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.filter-panel h3 {
  color: #ff4b4b;
  margin-bottom: 15px;
}
.filter-group {
  margin-bottom: 20px;
}
.filter-group h4 {
  color:black;
  margin-bottom: 8px;
}
.filter-group label {
  display: block;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 5px;
}
.filter-group input[type="text"],
.filter-group input[type="number"] {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  color:#333;
}
.results-section {
  flex: 3;
}
.results-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  font-size: 20px;
}
.results-header h2{
    margin-top: 0;
}
.results-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.book-card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px #eee;
  transition: transform 0.2s;
}
.book-card:hover {
  transform: translateY(-3px);
}
.book-card img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}
.book-content h3 {
  color: #fff;
  margin: 0 0 8px;
}
.book-content p {
  color: #bbb;
  margin: 4px 0;
}
.book-button {
  background: #d62828;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.book-button:hover {
  background: #ff3b3b;
}
.no-results {
  text-align: center;
  color: #999;
  margin-top: 50px;
}
.no-results i {
  font-size: 60px;
  color: #555;
}
.search-box {
  text-align: center;
  margin-top: 50px;
}
.search-box h2 {
  font-size: 25px;
  font-weight: bold;
  color: #111;
  margin-bottom: 20px;
}
.search-bar {
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 2px solid #833E7F;
  border-radius: 40px;
  padding: 8px 15px;
  width: 400px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
}
.search-bar i {
  color: #833E7F;
  font-size: 18px;
  cursor: pointer;
  margin-left: 8px;
}
