body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;  
  color: #000;       
}
.tin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
   margin-bottom: 40px;
}
.tintuc {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #ddd;
}
.tintuc a {
  text-decoration: none;       
  color: #000;                 
  transition: all 0.3s ease;
}
.tintuc:hover {
  background: #eee;
   text-decoration: underline;
}
.tintuc img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 250px;
}
.tintuc .date {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}
.tintuc h3 {
  font-size: 18px;
  margin: 10px 0 0;
  font-weight: bold;
  color: #000;
}
.tintuc:hover{
  text-decoration: underline;
}
.hidden {
  display: none;
}
.nut {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  border-radius: 4px;
   margin: 20px 0;
}

.nut li button, .nut li a,.nut .ellipsis {
  font-size: 20px;         
  padding: 8px 12px;     
  display: block;
  color: #110d0d;
  text-decoration: none;
  border: 1px solid #250202;
  border-radius: 10px;
  transition: 0.3s;
  min-width: 50px;  
}
.nut li a:hover{
  background: #ddd;
  color: aqua;
}
.nut .hđ a{
  background: #9d97ce;
}
.nut .ellipsis {
  cursor: default;         
  background: #fff;
}
.nut .ellipsis:hover {
  background: #fff;
  color: #110d0d;
  text-decoration: none;
}
