body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0px;
} 
.header {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('../Img/thuvien.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.header button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: rgb(131, 62, 127);
    color: white;
    cursor: pointer;
}
.header button:hover {
    background: rgb(103, 1, 98);
} 
.header::after {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background: rgba(0, 0 , 0, 0.5); 
}
.header-noidung {   
    position: relative;
    z-index: 1;
}
.header-noidung h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.header-noidung p {
    font-size: 20px;
    margin-bottom: 25px;
}
.gioithieu {
    padding: 75px ;
    text-align: center;
}
.gioithieu h2 {
    font-size: 35px;
}
.gioithieu h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: rgb(131, 62, 127);
    margin: 10px auto;
    border-radius: 10px;
}
.gioithieu p {
    line-height: 1.8;
    width: 1000px;
    margin: auto;
}
.sach-noibat {
    padding: 50px 10%;
}
.sach-noibat .snb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.sach-noibat .snb h2 {
    font-size: 30px;
}
.sach-noibat .snb button {
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 6px;
    cursor: pointer;
    background-color: rgb(171, 82, 167);
    width: 150px;
}
.sach-noibat .snb button:hover {
    background-color: rgb(140, 2, 133);
}
.sach-noibat .them-sach {
    margin-top: 50px;
}

.sach-noibat .them-sach button {
    background-color: rgb(171, 82, 167);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.sach-noibat .them-sach button:hover {
    background-color: rgb(140, 2, 133);
}

.list {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    gap: 25px;
}
.item {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    cursor: pointer;
    background-size: cover;
}
.item:hover {
    transform: translateY(-5px);
}
.item img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}
.item h3 {
    font-size: 18px;
    color: #222;
    margin-bottom: 5px;
}
.item p {
    font-size: 15px;
    color: #555;
}
.footer {
    background: linear-gradient(to right , #833E7F 55%, #3f8ae0);
    color: white;
    padding: 20px 150px;
    margin-top: 100px;
    height: 230px;
}
.footer-noidung {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer-thongtin h3 {
    margin-bottom: 15px;
}
.footer-mxh h4 {
    margin-bottom: 10px;
}
.footer-mxh a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: white;
    transition: transform 0.3s;
    cursor: pointer;
}
.footer-mxh a:hover {
    transform: scale(1.2);
    color: rgb(140, 2, 133);;
}
.footer-bottom {
    margin-top: 10px;
    border-top: 2px solid rgb(163, 161, 161);
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}
