* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", Arial, sans-serif;
    background:#fff;
    color: #333;
    font-size:16px;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.hero {
    text-align: center;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../Img/anh-nen-sach-mo-ra_012540664.jpg') no-repeat center center/cover;
    padding: 50px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08); 
}
.hero h2 {
    color:white;
    margin-bottom: 10px;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.hero p {
    color: white;
    font-size: 17px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
.search-section {
    text-align: center;
    margin:  50px 0 35px;;
}
.search-box {
    display: inline-flex;
    border: 2px solid #a0aec0;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    overflow: hidden;
}
.search-box input {
    border: none;
    padding: 12px 14px;
    width: 280px;
    outline: none;
}
.search-box button {
   background: linear-gradient(to right , #6d28d9 40%, #2563eb);
    color: white;
    border: none;
    padding: 12px 22px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.search-box button:hover {
    background: linear-gradient(to right , #4c1d95 40%, #1e3a8a);
}
.quick-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 20px;
}
.card {
   background:#eae6fc; 
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.card:hover {
    transform: translateY(-5px);
    background: rgb(208, 238, 250);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.icon {
    font-size: 35px;
    margin-bottom: 10px;}
.faq {
       background:#eae6fc;   
    padding: 30px 20px;
    border-radius: 12px;
    width: 100%;         
    margin: 40px auto; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.faq h3
 {
    margin-left: 20px;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    margin: 0 0 20px 30px;  
}
.faq-item {
    background: #ffffff;
    border: 1px solid #e5e7eb;        
    border-radius: 10px;
    margin-bottom: 12px;
}
.faq-item:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.12);
    transform: translateY(-1px);
}
.faq-item summary {
    font-size: 16px;
    font-weight: 500;
    color: #062361;
    cursor: pointer;
    list-style: none;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-item summary::after {
    content: "▼";
    font-size: 14px;
    color: rgb(36, 35, 35);
}
.faq-item[open] summary::after {
    transform: rotate(180deg);
}
.faq-answer {
    padding: 0 20px 15px 20px;
    font-size: 15px;
    border-top: 1px solid #e5e7eb;
}
.faq-item li {
    margin-left: 25px;   
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}
.category {
   background:#eae6fc; 
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}
.category:hover{
     transform: translateY(-5px);

}
.category h4 {
    margin-bottom: 12px;
    color: #1a202c;
    font-size: 16px;
}
.category ul {
    list-style: none;
}
.category li {
    margin: 6px 0;
}
.category a {
    text-decoration: none;
    color: #2b6cb0;
    font-weight: 500;
    transition: 0.2s;
    display: inline-block; 
}
.category a:hover {
    color: blue;
    text-decoration:underline;
   transform: scale(1.02); 
}
.footer {
    background: url(/Img/library-488679_1280.jpg) no-repeat center center/cover;
    color: white;
    padding: 20px 90px;
    margin-top: 100px;
    height: auto;
}
.footer-noidung {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer-thongtin {
    margin-left: 0px;
}
.footer-thongtin h3 {
    margin-bottom: 15px;
    color:white;
}
.footer-mxh h4 {
    margin-bottom: 10px;
}
.footer-mxh a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: white;
    transition: transform 0.3s;
    cursor: pointer;
}
#fb:hover {
    transform: scale(1.2);
    color: blue;
    transition: transform 0.3s;
    
}
#ytb:hover {
    transform: scale(1.2);
    color: red;
    transition: transform 0.3s;
}
#ins:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
    transition: transform 0.3s;

}
.footer-bottom {
    border-top: 2px solid rgb(163, 161, 161);
    font-size: 14px;
    text-align: center;
}
footer .menu1 ul {
    list-style-type: none;
    margin-right: 100px;
}
footer .menu1 ul li {
    padding-bottom: 10px;
}
footer .menu1 ul li a {
    text-decoration: none;
    color: white;
}
footer .menu1 ul li a:hover {
    color: red;
}
